body {background-color:#COR;text-align:justify;font-size:18px;}
h1 {text-align:center;backgrouond-color:#COR;color:#COR;}
h3 {text-align:justify;color:#COR;}
b {color:blueviolet;font-size:18px;}
i {color:blue; font-size: 18px;}
header footer {background-color:#COR;color: